*{
  margin: 0;
  box-sizing: border-box;
}

/*Header Bar*/
.header{
  width: 800px;
  height: 73px;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0,0,0,.3);
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.header{
  text-align: center;
}

.header p{
  list-style: none;
  display: inline-block;
}

.header p a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  font-weight: 200;
  padding: 25px;
  transition: all ease 0.3s;
}

.header  p a:hover{
  background-color: #2E86C1;
}

/*icon and word*/
table{
  position: absolute;
  margin-top: 180px;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 350px;
}

th, td{
  //border: 1px solid black;
  vertical-align: top;
  text-align: left;
}

table th{
  font-family: sans-serif;
  font-size: 17px;
  color: #666;
}

table td{
  font-family: sans-serif;
  font-size: 13px;
  color: #666;
  line-height: 17px;
}

.line1{
  position: absolute;
  width: 800px;
  height: 1px;
  background-color: black;
  bottom: 24%;
  left: 50%;
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
}

.line2{
  position: absolute;
  width: 800px;
  height: 1px;
  background-color: black;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
}

.soc{
  //z-index: 1;
  position: absolute;
  bottom: 11%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.btn{
  display: inline-block;
  width: 50px;
  height: 50px;
  //background: #f1f1f1;
  background: rgba(255,255,255,.2);
  margin: 2px;
  border-radius: 100%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #000;
  overflow: hidden;
  position: relative;
}

.btn i{
  line-height: 50px;
  font-size: 20px;
  transition: 0.2s linear;
}

.btn:hover i{
  transform: scale(1.4);
  color: #003;
}

.right p{
  position: absolute;
  text-align: center;
  bottom: 5%;
  width: 100%;
  color: #666;
  font-family: sans-serif;
  font-size: 12px;
}
