body {
  background-image: linear-gradient(#ffffff 0%, white 52.08%);
  /* color: #000000; */
  min-height: 100vh;
  font: normal 1.125em/1.5 'Roboto', sans-serif;
}

.header .lead {
  max-width: 620px;
}

/** Below CSS is completely optional **/

.gallery-item {
  width: 200px;
  padding: 5px;
}

/* JMenu 1.0 RC1 | MIT License | https://github.com/jamesjohnson280/JMenu */


